@{
    ViewBag.Title = "Dungeon App";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-8">
                    <h2 class="portfolio-title">C# Dungeon Console App</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/Dungeon/DungeonApp1.png" alt="Screenshot from Dungeon App">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/Dungeon/DungeonApp2.png" alt="Screenshot from Dungeon App">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/Dungeon/DungeonApp3.png" alt="Screenshot from Dungeon App">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-4 portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Application Development</li>
                        <li><strong>Project date</strong>: 06 March, 2023</li>
                        <li><strong>Project URL</strong>: <a href="#">https://github.com/jpinky82/DungeonApplication</a></li>
                    </ul>

                    <p>
                        This is a .NET Core Console Application where the foundational concepts of C#, as a language, were learned.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->
