@{
    ViewBag.Title = "React ToDo";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-8">
                    <h2 class="portfolio-title">React ToDo</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/React_ToDo/Under Construction1.png" alt="Under Construction">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/React_ToDo/Under Construction2.png" alt="Under Construction">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/React_ToDo/Under Construction3.png" alt="Under Construction">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-4 portfolio-info">
                    <h3>Project Information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web design</li>
                        <li><strong>Client</strong>: ASU Company</li>
                        <li><strong>Project date</strong>: 01 March, 2020</li>
                        <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                    </ul>

                    <p>
                        Coming Soon!
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->
