@{
    ViewBag.Title = "React ToDo";
    Layout = "~/Views/Shared/_LayoutLightbox.cshtml";
}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-8">
                    <h2 class="portfolio-title">React ToDo</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/React_ToDo/Todos.jpg" alt="Todo's Page'">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/React_ToDo/Categories.jpg" alt="Categories Page">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/React_ToDo/React_logo.png" alt="React Logo">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-4 portfolio-info">
                    <h3>Project Information</h3>
                    <ul>
                        <li><strong>Category</strong>: React Web App</li>
                        <li><strong>Name</strong>: ToDo List</li>
                        <li><strong>Project date</strong>: 08 May, 2023</li>
                        <li><strong>Project URL</strong>: <a href="http://todo.jpinkston.com" target="_blank">todo.jpinkston.com</a></li>
                        <li><strong>GitHub URL</strong>: <a href="https://github.com/jpinky82/TodoWebApplication" target="_blank">www.GitHub.com</a></li>
                    </ul>

                    <p>
                        The React To Do Application is a portfolio project that showcases my ability to
                        build a single page application using React JS.  The application allows users to sign in and see
                        items on the to do list as well as mark to do items as complete. Admins are able to add, edit,
                        and delete(full CRUD). This application leverages the .NET Web API as the backend of the app.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->
