################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PersonalSiteMVC/PersonalSiteMVC/appsettings.json
/PersonalSiteMVC/PersonalSiteMVC/appsettings.json
/PersonalSiteMVC/PersonalSiteMVC/appsettings.json

_Archive/